#time, #greeting {
    background-color: transparent;
}

#time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 150px;
}
#greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 36px;
  }
  
  #name-input {
    font-size: 30px;
    display: block;
    margin: 0 auto; /* Add this line */
    width: 80%;
    position: static;
    width:max-content;
  }
  
  #name-input::placeholder {
    color: #ffffff;
  }
  
 *{

    padding:0%;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    margin:0%;
}

.container{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(135deg, #002a53, #722c00, #0a4d00);
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 1rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.135);
}

.todo-app h2{
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeeef;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    position: relative;
    transition: all 0.3s ease;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;  
    font-size: 16px;
    transition: all 0.3s ease;

}

button {
    border: none;
    outline: none;
    background: #ff5945;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 16px;
    color: #393939;
    border-radius: 40px;
    margin-left: 10px;
    transition: all 0.3s ease;

}

button:hover{
    background: #ff5945;
    color: #fff;
}

ul li{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;
}

ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}   
ul li.checked{
    color:#555;
    text-decoration: line-through;


}
ul li.checked::before{
    background-image: url(images/checked.png);

}
/* X button made in CSS not found in HTML but linked */


/* Quote feature with white font and centered with padding, in quotation marks and cool animation
    text. */
p {
        padding: 50px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

       /* Styles for screens smaller than 600px */
   @media (max-width: 600px) {
    .todo-app {
      max-width: 100%; /* Adjust the width as needed */
      margin: 50px auto; /* Adjust the margin as needed */
    }
  
    .row {
      flex-direction: column;
      align-items: stretch;
    }
  
    input {
        margin-top: 0%;

    }
  
    button {
      margin-left: 0;
      margin-top: 10px;
    }
  
    ul li {
      padding: 8px;
    }
  
    p {
      padding: 20px;
      font-size: 16px;
    }
  }
